.p {
  width: 60vw;
  height: 80vh;
  display: flex;
  align-items: center;
  margin-bottom: 150px;
  flex-direction: column;
}

.p-right {
  position: relative;
  left: 70%;
}

/* .p-left {
  flex: 1;
} */

.pro-names {
  display: flex;
  flex-direction: row;
  width: 50%;
  margin-left: 130%;
}

.p-name {
  width: 200px;
  margin-top: 50px;
  margin-left: 10px;
  margin-bottom: 50px;
}

.p-name:hover {
  color: green;
  cursor: pointer;
  text-decoration: underline;
}

.p-info {
  width: 60%;
  position: relative;
  bottom: 95%;
  right: 120px;
  text-align: center;
}


.links:hover {
  color: green;
}

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 400px;
  justify-content: space-between;
}

.img-controls {
  min-width: 200px;
  height: 200px;
}




/* .p-card {
  width: 30%;
  height: 10vh;
  border-radius: 30px;

} */
