.p {
  width: 60vw;
  height: 80vh;
  display: flex;
  align-items: center;
  margin-bottom: 100px;
  flex-direction: column;
}

.pro-names {
  display: flex;
  flex-direction: row;
  width: 50%;
  margin-left: 700px;
}

.p-name {
  width: 200px;
  margin-top: 50px;
  margin-left: 10px;
  margin-bottom: 50px;
}

.p-name:hover {
  color: green;
  cursor: pointer;
  text-decoration: underline;
}

.p-info {
  width: 50%;
  position: relative;
  bottom: 50%;
  margin-left: 50px;
  text-align: center;
}


.links:hover {
  color: green;
}
/* .p-card {
  width: 30%;
  height: 10vh;
  border-radius: 30px;

} */
