.c {
  height: 80vh;
  display: flex;
  margin-top: 20%;
  /* align-items: center; */
  /* background-color: black; */
  /* color: white; */
}

.c-left {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 7%;
  width: 300px;

}

.icons-links, .icons-show{
  cursor: pointer;
}

.c-right {
  flex: 1;
}

.c-right > h2 {
  margin-top: 50px;
}

form {
  margin-top: 50px;
  display: flex;
  flex-direction: column;

}

.email-input {
  width: 50%;
  height: 40px;
  border: none;
  border-bottom: 1px solid black;
  margin-bottom: 10px;
  padding-left: 10px;
}

textarea {
  margin-top: 30px;
  margin-right: 100px;
  padding-left: 10px;
}

.send-button {
  font-weight: bold;
  width: 70px;
  margin-top: 40px;
  margin-left: 80px;
  border: none;
  padding: 10px;
  background-color: purple;
  color: white;
  border-radius: 10px;
}

.c-sent {
  margin-left: 30%;
}

.email-container {
  border: 1px black solid;
  width: 80%;
  padding-left: 150px;
  padding-bottom: 20px;
  background-color: black;
  color: white;
  border-radius: 20px;
  box-shadow: 7px 7px 7px 7px grey;
}