
.company {
    font-weight: 600;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    animation-name: companyName;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.company:hover {
    color: purple;
}






